html,
body,
main {
  height: 100%;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#content-wrapper {
  text-align: center;
}

p {
  font-size: 30rem;
}
